<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/stupid.css" />
    <link rel="stylesheet" type="text/css" href="css/news.css" />
</head>

<body>
    <div class="top-bar navy">
        <h1>stuff</h1>
        <h2>more stuff</h2>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="twothirds">
                <div class="padded-column">
                    <h2>This is stuff that could be considered a title of an article</h2>
                    <h4>this is stuff that could be considered a subtitle</h4>
                    <h4>Fake Date, 2019</h4>
                    <div class="container articles-container">
                        <div class="half">
                            <img src="images/spidey.png" />
                            <p class="article italics">this is stuff that could be considered a small image taking up part of
                                the left column.
                                Additionally, this entire section is in italics!
                                Personally, I think it really brings the whole page together.
                                Man, this text really goes on and on and on and on and on and

                            </p>
                        </div>
                        <div class="half">
                            <div class="padded-column">
                                <div class="purple-box">
                                    <h3>Here we have some title stuff inside a purple box</h3>
                                    on this half of the page, we have some stuff inside a purple box with a black
                                    border.
                                </div>
                                <div class="article"> this is stuff that could be considered a small image taking
                                    up part of the left column. Additionally, this entire section is in italics!
                                Personally, I think it really brings the whole page together.
                                Man, this text really goes on and on and on and on and on and
                            </div>
                            </div>
                        </div>
                        <div class="purple-box">
                            <h5>Here we have some title stuff inside a purple box</h5>
                            this purple box is very similar to the last one except it takes up two thirds
                            of the screen instead one third. If you ask me, this one is way more fun.
                      </div>
                        <div class="half">
                            <div class = "btn orange large padded-margin">
                                <h2> Do you </h2>
                            </div>
                        </div>
                         <div class="half">
                            <div class = "btn pink large padded-margin">
                                <h2> like penguins? </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third">
                <div class="padded-column">
                    <h2>This is stuff that could be considered another title of an article</h2>
                    <img class = "w100" src="images/penguin.jpg" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>